.modal {
    /*background: rgba(0,0,0,0.6);*/
}

.moveable{
    position:absolute;
    width:300px;
    height:400px;
    background-color: rgb(85,85,85);

}

.app-icon {
    position: relative;
    margin-top: 20px;
    height:61px;
    width:61px;
    left:calc(50% - 31px);
    border-radius: 30px;

}

.about-text {
    margin-top: 10px;
    color:white;
    text-align: center;
}

.turbulence-alert-row {
    display: flex;
    margin-top: 10px;
}

.turbulence-toggle{
    margin-left:70px;
    margin-top: 4px;
  }
.turbulence-text {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 14px;
    color:white;
    text-align: left;
}


.alert-level-row {
    position: relative;
    left:calc(50% - 115px);
    width:230px;
    display: flex;
    border:solid;
    border-color:white;
    border-width: 1px;
    border-radius: 5px;
    overflow: hidden;
}

.alert-level-choice{
    width: 125px;
    height:30px;
    text-align: center;
    line-height: 30px;
    color:white;
}

.selected-choice {
    background-color: white;
    color: grey;
}

.seperation-line {
    height: 1px;
    width:250px;
    background-color: white;
    margin-left: 40px;
    margin-top: 30px;
}

.credit-text {
    margin-top: 0px;
    font-size: 10px;
    color:white;
    text-align: center;
}

.moveable {
    position: relative;
    /*background: #435a69;*/
    border: 1px solid white;
}
.moveable:after, .moveable:before {
    bottom: 100%;
    left: 82%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.moveable:after {
    border-color: rgba(67, 90, 105, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
}
.moveable:before {
    border-color: rgba(147, 171, 186, 0);
    border-bottom-color: white;
    border-width: 11px;
    margin-left: -11px;
}