<div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="moveable" [ngStyle]="{'left':modalLeft, 'top':modalTop}" (click)="preventClose($event)">


        <div class="row">
            <img class="app-icon" src="../../../assets/appIcon.png" alt="">

        </div>

        <div class="row">
            <div class="about-text">Skypath</div>
        </div>
        <div class="row">
            <div class="about-text" style="font-size:10px; margin-top: 0px;">simulator</div>
        </div>

        <div class="row">
            <div class="seperation-line" ></div>
        </div>

        <div class="row turbulence-alert-row">
            <div class="turbulence-text">Turbulence alert</div>
            <app-toggle checked (change)="turbulenceAlertToggle($event)" class="turbulence-toggle" [color]="blue"></app-toggle>
        </div>

        <div class="row">
            <div class="turbulence-text">Alert level</div>
        </div>
        <div class="row">
            <div class="alert-level-row">
                <div class="alert-level-choice" (click)="changeAlertLevel(2)" [ngClass]="{'selected-choice': isMedium }">L-M </div>
                <div class="alert-level-choice" (click)="changeAlertLevel(3)"  [ngClass]="{'selected-choice': !isMedium}">M </div>
            </div>

        </div>


        <div class="row">
            <div class="seperation-line" ></div>
        </div>

        <div class="row">
            <div class="credit-text" style="margin-top: 50px;">Copyright &copy; 2016 YAMASEE</div>
        </div>

        <div class="row">
            <div class="credit-text">All Rights Reserved</div>
        </div>

    </div>


</div>
