


.airport-scroll {

  width: 200px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.searchbar{
  width:200px;
  background-color: rgb(29,30,33);
  color:whitesmoke;
}
.searchbar::-webkit-input-placeholder {
  font-size: 12px;
}
.airport-cell{
  padding: 0 10px 0 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgb(36,37,41);

}
.first-row {
  font-size: 14px;
  color: white;
  padding-top: 2px;
}
.second-row {
  font-size: 10px;
  padding-bottom: 2px;
  color: white;
}

.modal {
  background: rgba(0,0,0,0.6);
}

.moveable{
  position:absolute;
}
