<div class="alert-block">
    <div class="alert-title">Turbulence Ahead</div>
    <div class="alert-data">
        <div class="left-data-div">
            <div class="data-row">
                <div class="iner-data-row">+2000</div>
                <div class="alert-box" [ngStyle]="{'background-color': topAlertBoxColor}"></div>
            </div>
            <div class="data-row">
                <div class="iner-data-row "><img class="airplane" src="../../../assets/airplaneSide.png"></div>
                <div class="alert-box" [ngStyle]="{'background-color': currentAlertBoxColor}"></div>
            </div>
            <div class="data-row">
                <div class="iner-data-row">-2000</div>
                <div class="alert-box" [ngStyle]="{'background-color': bottomAlertBoxColor}"></div>
            </div>
        </div>
        <div class="silence-button"><div class="silence-button-text">Silence</div></div>

    </div>
</div>
