<turbulence-alert *ngIf="isAlertBoxShow" [bottomAlertBoxColor]="bottomAlertColor"
                  [currentAlertBoxColor]="currentAlertColor" [topAlertBoxColor]="topAlertColor"
                  (reset)="alertResetClicked()"></turbulence-alert>

<app-airport-picker (airportSelected)="airportSelected($event)"></app-airport-picker>
<about (alertLevelSelected)="alertLevelSelected($event)" (alertShowChanged)="alertShowChanged($event)"></about>
<help></help>


<alert #cloudAlert>
    <radar #radar [reporttype]="'cloud'"></radar>
</alert>

<alert #lightningAlert>
    <radar #radar [reporttype]="'lightning'"></radar>
</alert>

<!--<alert #freezeAlert>-->
<!--<div><h1>Freeze</h1></div>-->
<!--</alert>-->

<!--<alert #windAlert>-->
<!--<div><h1>Wind</h1></div>-->
<!--</alert>-->

<div id="mapid"></div>
<!--Top Pane-->
<div id="toppane">
    <div id="toppane_leftbuttons" class="row">
        <div class="col-xs-4">
            <div class="pull-left top-pane-left">
                <img id="satellite" class="toppane-button" src="assets/satellite_green.png">
                <img id="navarrow" class="toppane-button" src="assets/navArrow_green.png"
                     (click)="centerMap()">
                <img id="screenlight" class="toppane-button" src="assets/bright-7_white.png">
            </div>
        </div>
        <div class="col-xs-4">
            <div id="altitude" class="toppane-button">Altitude: {{airplane.currentAltitude}} feet</div>
        </div>
        <div class="col-xs-4">
            <div class="pull-right top-pane-right">
                <div *ngIf="authService.user.role==='admin'" class="toppane-button toppane-button-right"
                     (click)="gotoEditor()"><span>Editor</span></div>

                <img class="toppane-button" src="assets/gear-7_white.png" (click)="aboutClicked($event)">
                <div class="toppane-button toppane-button-right" (click)="helpClicked($event)"><span>Help</span></div>
            </div>

        </div>
    </div>
</div>

<!--Left Pane-->
<div id="leftpane">
    <div id="rightpane_buttons">
        <img id="routeedit-off" *ngIf="!isEditRouteMode" class="leftpane-button" src="assets/route_off.png">
        <img id="routeedit-on" *ngIf="isEditRouteMode" class="leftpane-button" src="assets/route_on.png">
    </div>

    <div id="left_bottom_buttons" class="bottom-button">
        <img class="leftpane-button" src="assets/cloud-icon.png" (click)="alertClicked('cloud')">
        <img class="leftpane-button " src="assets/lightning-icon.png" (click)="alertClicked('lightning')">
        <img class="leftpane-button " src="assets/freeze-icon.png">
        <img class="leftpane-button " src="assets/wind-icon.png">
    </div>
</div>

<!--Right pane-->
<div id="rightpane">
    <img id="airplane-from" class="rightpane-button" src="assets/to@2x.png" (click)="showModal($event,'takeoff')">
    <div class="airport-name" (click)="showModal($event,'takeoff')">{{toAirport.ICAO}}</div>
    <img id="swap-id" class="rightpane-button" src="assets/swap.png" (click)="swapAirports()">
    <img id="airplane-to" class="rightpane-button" src="assets/land@2x.png" (click)="showModal($event,'landing')">
    <div class="airport-name" (click)="showModal($event,'landing')">{{landAirport.ICAO}}</div>
    <elevation-buttons [currentAltitude]="airplane.currentAltitude" (altitudeselected)="altitude_clicked($event)"
                       (autoAltChanged)="autoAlt_changed($event)" [isAuto]="isAutoAlt"></elevation-buttons>
</div>

<!--Bottom pane-->
<div id="bottompane">
    <div class="row" style="width: 100%;">
        <div class="col-xs-4 bottom-left-pane">
            <div class="scenario-picker">
                <div>Scenario</div>
                <div *ngIf="!isEditTurboArea">
                    <select class="scenario-select" [(ngModel)]="selectedScenario" (change)="scenarioChanged()"
                            id="scenario" name="scenario">
                        <option [ngValue]="scenario" *ngFor="let scenario of arrScenarios">{{scenario.name}}</option>
                    </select>
                </div>
            </div>
            <div id="alt-select">
                <div>Set Alt</div>
                <select id="gotoaltitude" [value]="airplane.targetAltitude" name="altitude"
                        (change)="gotoAltitude($event)">
                    <option value="30000">30000</option>
                    <option value="31000">31000</option>
                    <option value="32000">32000</option>
                    <option value="33000">33000</option>
                    <option value="34000">34000</option>
                    <option value="35000">35000</option>
                    <option value="36000">36000</option>
                    <option value="37000">37000</option>
                    <option value="38000">38000</option>
                    <option value="39000">39000</option>
                </select>
            </div>

        </div>
        <div class="col-xs-4">
            <div class="simcontroller">
                <div class="contorol-button" (click)="simSlow()"><i class="fa fa-backward fa-1x"></i></div>
                <div class="contorol-button" (click)="restart()"><i class="fa fa-repeat fa-1x"></i></div>
                <div *ngIf="!simData.isPause" class="contorol-button" (click)="simPause()"><i
                        class="fa fa-pause fa-1x"></i></div>
                <div *ngIf="simData.isPause" class="contorol-button" (click)="simPause()"><i
                        class="fa fa-play fa-1x"></i></div>

                <div class="contorol-button">x{{simSpeed}}</div>
                <div class="contorol-button" (click)="simFast()"><i class="fa fa-forward fa-1x"></i></div>

            </div>
        </div>
        <div class="col-xs-4">
            <div class="color-palate row pull-right">

                <img src="assets/turbocolor.png" class="color-img img-responsive ">

            </div>
        </div>
    </div>
</div>







