.mycanvas {
    position: absolute;
    top:0;
    left:0;

}

#airplane{
    position: absolute;
    top:0;
    left:0;
}

#select-alt-buttons {
    position: absolute;
    left:100px;
    width:400px;

}


/* selected button class*/

.selectButton {
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width:504px;
    left:48px;

}

.ui-c {
    width:40px;
}
.wrapper {
    display: block;
    text-align: center;
}

#delete-info {
    text-align: center;
    color:whitesmoke;
}