<app-airport-picker (airportSelected)="airportSelected($event)"></app-airport-picker>
<div class="all-page">
    <div class="page-content">
        <div id="top-pane">
            <div class="scenario-picker-container main-container">
                <span>Scenario:</span>
                <div class="scenario-picker">
                    <select class="scenario-select" [(ngModel)]="selectedScenario" (change)="scenarioChanged()"
                            id="scenario" name="scenario">
                        <option [ngValue]="scenario" *ngFor="let scenario of arrScenarios">{{scenario.name}}</option>
                    </select>
                </div>
            </div>
            <div class="main-container">
                <div class="airport-title">From</div>
                <div class="airport-title">to</div>
                <div class="airport-title">altitude</div>
                <div class="airport-title">Realtime</div>
                <div style="width:50px;"></div>

            </div>

            <div class="main-container">
                <div class="airport-name" (click)="showModal($event,'takeoff' ,20,0)">{{toAirport.ICAO}}</div>
                <div class="airport-name" (click)="showModal($event,'landing', 20 ,0)">{{landAirport.ICAO}}</div>
                <div id="alt-select" class="airport-name">
                    <select id="gotoaltitude" name="altitude" (change)="setAltitude($event)">
                        <option value="30000">30000</option>
                        <option value="31000">31000</option>
                        <option value="32000">32000</option>
                        <option value="33000">33000</option>
                        <option value="34000">34000</option>
                        <option value="35000">35000</option>
                        <option value="36000">36000</option>
                        <option value="37000">37000</option>
                        <option value="38000">38000</option>
                        <option value="39000">39000</option>
                    </select>
                </div>
                <div class="airport-name">
                    <input class="roundedOne" type="checkbox" [(ngModel)]="isRealtime">
                </div>
                <div class="btn btn-success btn-sm delete-button" (click)="addRoute()">
                    <i class="fa fa-plus"></i>
                </div>
            </div>

        </div>

        <div id="bottom-pane">
            <div id="route-rows">
                <div *ngFor="let route of routes ; let i = index">
                    <div class="route-list" [ngClass]="{'row-realtime': route.isRealtime}" *ngIf="i!==routeInEdit">
                        <div class="route-list-row">{{route.toAirport.ICAO}}</div>
                        <div class="route-list-row">{{route.landAirport.ICAO}}</div>
                        <div class="route-list-row">{{route.altitude}}</div>
                        <div class="route-list-row">{{route.isRealtime}}</div>

                        <div class="btn btn-sm btn-primary route-button" (click)="editRoute(route,i)">
                            <i class="fa fa-pencil-square-o fa-lg"></i></div>

                        <div class="btn btn-sm btn-danger route-button" (click)="deleteRoute(route,i)">
                            <i class="fa fa-trash-o fa-lg"></i></div>
                    </div>
                    <div class="route-list" *ngIf="i===routeInEdit">
                        <div class="route-list-row" (click)="showModal($event,'takeoff' ,20,0)">
                            {{routeInEditInfo.toAirport.ICAO}}
                        </div>
                        <div class="route-list-row" (click)="showModal($event,'landing' ,20,0)">
                            {{routeInEditInfo.landAirport.ICAO}}
                        </div>
                        <div id="alt-select-routeinedit" class="airport-name">
                            <select id="gotoaltitude-routeinedit" name="altitude"
                                    (change)="setAltitudeRouteInEdit($event)" [value]="routeInEditInfo.altitude">
                                <option value="30000">30000</option>
                                <option value="31000">31000</option>
                                <option value="32000">32000</option>
                                <option value="33000">33000</option>
                                <option value="34000">34000</option>
                                <option value="35000">35000</option>
                                <option value="36000">36000</option>
                                <option value="37000">37000</option>
                                <option value="38000">38000</option>
                                <option value="39000">39000</option>
                            </select>
                        </div>
                        <!--<div class="route-list-row">{{routeInEditInfo.isRealtime}}</div>-->
                        <div class="airport-name">
                            <input class="roundedOne" type="checkbox"
                                   [(ngModel)]="routeInEditInfo.isRealtime">
                        </div>
                        <div class="btn btn-sm btn-success route-button" (click)="approvedEditRoute(route,i)">
                            <i class="fa fa-check-square-o  fa-lg"></i></div>

                        <div class="btn btn-sm btn-warning route-button" (click)="cancelEditRoute(route,i)">
                            <i class="fa fa-ban fa-lg"></i></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>