.main-container {
    position: relative;
    display: flex;

}
.airport-title {
    color: whitesmoke;
    background-color: #014c8c;
    font-size: 14px;
    text-align: center;
    width: 100px;

}
.airport-name {
    color: black;
    font-size: 14px;
    text-align: center;
    width: 100px;
    border-style: solid;
    border-width: 1px;
}

.route-list {
    position: relative;

    display:flex;
}
.route-list-row {
    color: whitesmoke;
    background-color: #014c8c;
    font-size: 14px;
    text-align: center;
    width: 100px;
    margin-top: 0;


}