.profile-img
{
  width: 72px;
  height: 72px;
  margin: 0px auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
}

#title {
  margin: 5px auto;
}
#version{
  font-size: 1.2em;
}